<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

<script>
    MathJax = {
      tex: {
        inlineMath: [['$$$', '$$$'], ['\\(', '\\)']],
        displayMath: [['$','$'],["\\[","\\]"]],
        processEscapes:true
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<script type="text/javascript" src="//sta.codeforces.com/s/81719/js/prettify/prettify.js"></script>

</head>
<body>
    <centre>
    <div >
    <p><%=name[0]%></p>
    <p><%=name[1]%></p>
    <p><%=name[2]%></p>
    <p><%=name[3]%></p>
    <p><%=name[4]%></p>
    <p><%=name[5]%></p>
    <p><%=name[6]%></p>
    <p><%=name[7]%></p>
    <p><%=name[8]%></p>
    <p><%=name[9]%></p>
    <p><%=name[10]%></p>

</div>
</centre>

</body>
</html>